<canvas id='b' width="300" height="225" class="clear" style="border:1px dotted;float:left"onclick="draw_b();return false"></canvas>
<script> function draw_b(){
var b_canvas = document.getElementById("b");
var b_context = b_canvas.getContext("2d");
b_context.fillRect(50,25,150,100);
}</script>
